* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: #f8f8f8;
  display: grid;
  grid-template-rows: 130px 1fr;
}
body header #layout-navbar {
  height: 80px;
  width: 100vw;
  background-color: #364958;
  display: grid;
  grid-template-columns: 200px 1fr 170px;
}
body header #layout-navbar #layout-navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
body header #layout-navbar #layout-navbar-logo a {
  text-decoration: none;
  color: white;
  margin: 0;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: -5px;
  transition: 0.5s;
}
body header #layout-navbar #layout-navbar-logo a:hover {
  color: #FCA311;
  transition: 0.5s;
}
body header #layout-navbar #layout-navbar-search {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header #layout-navbar #layout-navbar-search form {
  height: 50px;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 100px;
  display: grid;
  grid-template-columns: 1fr 70px;
}
body header #layout-navbar #layout-navbar-search form input {
  height: 50px;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  font-size: 20px;
  padding: 0 20px;
}
body header #layout-navbar #layout-navbar-search form input:focus {
  outline: none;
}
body header #layout-navbar #layout-navbar-search form button {
  background-color: transparent;
  border: none;
  color: darkgrey;
  transition: 1s;
}
body header #layout-navbar #layout-navbar-search form button:hover {
  color: #FCA311;
  font-size: 30px;
  transition: 1s;
}
body header #layout-navbar #layout-navbar-search form:hover {
  box-shadow: 2px 2px 20px lightgray;
}
body header #layout-navbar #layout-navbar-search form:focus-within {
  border: 1px solid #FCA311;
}
body header #layout-navbar #layout-navbar-search form:focus-within button {
  font-size: 30px;
  transition: 1s;
  color: #FCA311;
}
body header #layout-navbar #layout-navbar-active {
  text-decoration: none;
  color: white;
  margin: auto;
  padding: 3px 10px 3px 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
body header #layout-navbar #layout-navbar-active i {
  font-size: 35px;
}
body header #layout-navbar #layout-navbar-active p {
  font-weight: bolder;
  padding: 10px;
}
body header #layout-navbar #layout-navbar-active:hover {
  background-color: #FCA311;
  color: black;
  transition: 1s;
}
body header #layout-messagearea {
  height: 50px;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}
body header #layout-messagearea p {
  width: 100%;
  font-size: 13px;
  font-weight: bolder;
}
body header .layout-messagearea-signed-in {
  background-color: #fbfbf2;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
body header .layout-messagearea-signed-in .layout-messagearea-container {
  width: auto;
  display: flex;
}
body header .layout-messagearea-signed-in .layout-messagearea-container #layout-messagearea-username {
  width: auto;
  text-align: left;
  padding: 0 50px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}
body header .layout-messagearea-signed-in .layout-messagearea-container #layout-messagearea-username .layout-messagearea-username-welcome {
  font-size: 12px;
}
body header .layout-messagearea-signed-in .layout-messagearea-container #layout-messagearea-username .layout-messagearea-username-display {
  font-size: 25px;
  color: #c44536;
}
body header .layout-messagearea-signed-in .layout-messagearea-container .layout-messagearea-items {
  padding: 0 20px;
  width: auto;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
body header .layout-messagearea-signed-in .layout-messagearea-container .layout-messagearea-items i {
  text-align: center;
  width: 50px;
  font-size: 25px;
  padding-right: 5px;
}
body header .layout-messagearea-signed-in .layout-messagearea-container .layout-messagearea-items p {
  display: none;
}
body header .layout-messagearea-signed-in .layout-messagearea-container #layout-messagearea-username:hover {
  background-color: rgba(252, 162, 17, 0.507);
  transition: 0.5s;
}
body header .layout-messagearea-signed-in .layout-messagearea-container .layout-messagearea-items:hover i {
  font-size: 15px;
  transition: 0.5s;
}
body header .layout-messagearea-signed-in .layout-messagearea-container .layout-messagearea-items:hover p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: navbarText 0.5s;
}
@keyframes navbarText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body header .layout-messagearea-signed-in .layout-messagearea-items {
  padding: 0 20px;
  width: auto;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
body header .layout-messagearea-signed-in .layout-messagearea-items i {
  text-align: center;
  width: 50px;
  font-size: 25px;
  padding-right: 5px;
  position: relative;
}
body header .layout-messagearea-signed-in .layout-messagearea-items i span {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  bottom: 2px;
  right: 2px;
  color: white;
  background-color: #ff006e;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .layout-messagearea-signed-in .layout-messagearea-items p {
  display: none;
}
body header .layout-messagearea-signed-in .layout-messagearea-items-normal:hover {
  border-bottom: 3px solid rgba(252, 162, 17, 0.507);
}
body header .layout-messagearea-signed-in .layout-messagearea-items-warning {
  transition: 0.5s;
}
body header .layout-messagearea-signed-in .layout-messagearea-items-warning:hover {
  transition: 0.5s;
  border: none;
  background-color: #ff005586;
}
body header .layout-messagearea-not-signed-in {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f25c54;
  color: white;
}
body header .layout-messagearea-not-signed-in p {
  text-align: center;
}
body header .layout-messagearea-not-signed-in a {
  color: white;
}
body main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  /* listing.html */
  /* bid.html */
}
body main #body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* index.html */
  /* register.html */
  /* login.html */
  /* create_listing.html */
  /* categories.html */
  /* category.html */
  /* won_bids.html */
}
body main #body-container #body-block-title {
  height: 80px;
  width: 100%;
  max-width: 1000px;
  border-bottom: 1px solid lightgray;
}
body main #body-container #body-block-title p {
  font-size: 35px;
  font-weight: bolder;
  padding: 20px;
  letter-spacing: -1px;
}
body main #body-container #active-listings {
  height: 100%;
  width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #body-container #active-listings .search-yoursearch-container {
  width: 100%;
}
body main #body-container #active-listings .search-yoursearch-container p {
  font-size: 13px;
  color: gray;
  padding-left: 20px;
}
body main #body-container #active-listings .search-error {
  height: 100%;
  width: 100%;
  font-weight: bolder;
  color: #ff006e;
  text-align: center;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #body-container #active-listings .search-error h1 {
  font-size: 150px;
  letter-spacing: -5px;
  padding: 0 15px;
}
body main #body-container #active-listings .search-error h1::selection {
  background-color: #ff006e;
  color: white;
}
body main #body-container #active-listings .search-error .search-error-p {
  width: auto;
}
body main #body-container #active-listings .search-error .search-error-p p {
  background-color: #ff006e;
  color: white;
  font-size: 30px;
  letter-spacing: 5px;
  padding: 0 15px;
}
body main #body-container #active-listings .search-error .search-error-p p::selection {
  background-color: #FCA311;
  color: white;
}
body main #body-container #active-listings .active-listing-container {
  border-bottom: 1px solid lightgray;
  height: 250px;
  width: 90%;
  margin: 10px;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "photo name name" "photo price description";
}
body main #body-container #active-listings .active-listing-container .active-listing-photo {
  grid-area: photo;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #body-container #active-listings .active-listing-container .active-listing-photo .active-listing-photo-container {
  height: 220px;
  width: 220px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #body-container #active-listings .active-listing-container .active-listing-photo .active-listing-photo-container img {
  max-height: 220px;
  max-width: 220px;
}
body main #body-container #active-listings .active-listing-container .active-listing-name {
  grid-area: name;
  margin: auto 0;
}
body main #body-container #active-listings .active-listing-container .active-listing-name a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
body main #body-container #active-listings .active-listing-container .active-listing-price {
  grid-area: price;
}
body main #body-container #active-listings .active-listing-container .active-listing-price p {
  color: #969696;
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-current {
  font-size: 35px;
  font-weight: bolder;
  color: black;
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-label {
  font-size: 12px;
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-origin {
  font-size: 15px;
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-origin span {
  font-size: 20px;
  font-weight: bolder;
  color: green;
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-lister {
  margin-top: 10px;
  font-size: 12px;
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-lister a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-category {
  display: flex;
  padding: 0px;
  margin-top: 10px;
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-category a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  width: auto;
  font-size: 13px;
  font-weight: bolder;
  padding: 2px 5px;
  background-color: none;
  border: 1px solid lightgray;
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-category a:hover {
  background-color: rgba(252, 162, 17, 0.507);
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-category-expired a {
  background-color: red;
  color: white;
}
body main #body-container #active-listings .active-listing-container .active-listing-price .active-listing-price-category-expired a:hover {
  background-color: red;
}
body main #body-container #active-listings .active-listing-container .active-listing-description {
  grid-area: description;
}
body main #body-container #active-listings .active-listing-container .active-listing-description p {
  padding: 0 10px;
  text-align: justify;
  font-size: 13px;
  color: #969696;
}
body main #body-container #register-container {
  width: 100%;
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #body-container #register-container #register-title {
  margin: 50px 0 20px;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}
body main #body-container #register-container #register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #body-container #register-container #register-form .register-form-input-container {
  border-bottom: 1px solid #8a8a8a;
  height: 50px;
  width: 70%;
  margin: 5px 0;
  position: relative;
  transition: 0.5s;
}
body main #body-container #register-container #register-form .register-form-input-container label {
  position: absolute;
  bottom: 0;
  padding: 5px;
  z-index: -10;
  transition: 0.5s;
  color: #787878;
}
body main #body-container #register-container #register-form .register-form-input-container .register-form-textinput {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
}
body main #body-container #register-container #register-form .register-form-input-container .register-form-textinput:focus {
  outline: none;
}
body main #body-container #register-container #register-form .register-form-input-container:focus-within {
  transition: 0.5s;
}
body main #body-container #register-container #register-form .register-form-input-container:focus-within label {
  bottom: 25px;
  font-size: 13px;
  transition: 0.5s;
}
body main #body-container #register-container #register-form .register-form-textinput:valid + .register-form-label {
  font-size: 13px;
  bottom: 25px;
}
body main #body-container #register-container #register-form .register-form-button {
  height: 50px;
  width: 70%;
  font-size: 20px;
  font-weight: bolder;
  margin: 50px 0;
  background-color: rgba(252, 162, 17, 0.507);
  border: none;
  cursor: pointer;
}
body main #body-container #register-container #register-form .register-form-button:hover {
  background-color: #bdfc11;
}
body main #body-container #register-container .register-bottom {
  font-size: 15px;
  font-weight: bolder;
}
body main #body-container #login-container {
  width: 100%;
  max-width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #body-container #login-container #login-title {
  margin: 50px 0 20px;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}
body main #body-container #login-container #login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #body-container #login-container #login-form .login-form-input-container {
  border-bottom: 1px solid #8a8a8a;
  height: 50px;
  width: 70%;
  margin: 5px 0;
  position: relative;
  transition: 0.5s;
}
body main #body-container #login-container #login-form .login-form-input-container label {
  position: absolute;
  bottom: 0;
  padding: 5px;
  z-index: -10;
  transition: 0.5s;
  color: #787878;
}
body main #body-container #login-container #login-form .login-form-input-container .login-form-textinput {
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 5px;
  font-size: 20px;
  font-weight: bolder;
}
body main #body-container #login-container #login-form .login-form-input-container .login-form-textinput:focus {
  outline: none;
}
body main #body-container #login-container #login-form .login-form-input-container:focus-within {
  transition: 0.5s;
}
body main #body-container #login-container #login-form .login-form-input-container:focus-within label {
  bottom: 25px;
  font-size: 13px;
  transition: 0.5s;
}
body main #body-container #login-container #login-form .login-form-textinput:valid + .login-form-label {
  font-size: 13px;
  bottom: 25px;
}
body main #body-container #login-container #login-form .login-form-button {
  height: 50px;
  width: 70%;
  font-size: 20px;
  font-weight: bolder;
  margin: 50px 0;
  background-color: rgba(252, 162, 17, 0.507);
  border: none;
  cursor: pointer;
}
body main #body-container #login-container #login-form .login-form-button:hover {
  background-color: #bdfc11;
}
body main #body-container #login-container .login-bottom {
  font-size: 15px;
  font-weight: bolder;
}
body main #body-container #create-listing-container {
  height: 100%;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #body-container #create-listing-container #create-listing-title {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid lightgray;
}
body main #body-container #create-listing-container #create-listing-title p {
  font-size: 35px;
  font-weight: bolder;
  padding: 20px;
  letter-spacing: -1px;
}
body main #body-container #create-listing-container #create-listing-form {
  height: auto;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body main #body-container #create-listing-container #create-listing-form .create-listing-form-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 300px 1fr;
}
body main #body-container #create-listing-container #create-listing-form .create-listing-form-container label {
  display: flex;
  align-items: center;
  font-size: 13px;
}
body main #body-container #create-listing-container #create-listing-form .create-listing-form-container input, body main #body-container #create-listing-container #create-listing-form .create-listing-form-container select {
  height: 30px;
  padding: 0 10px;
  border: 1px solid gray;
}
body main #body-container #create-listing-container #create-listing-form .create-listing-form-container input:focus, body main #body-container #create-listing-container #create-listing-form .create-listing-form-container select:focus, body main #body-container #create-listing-container #create-listing-form .create-listing-form-container textarea:focus {
  outline: none;
  border: 1px solid #FCA311;
}
body main #body-container #create-listing-container #create-listing-form .create-listing-form-container .create-listing-form-upload {
  border: none;
  padding: 0;
}
body main #body-container #create-listing-container #create-listing-form .create-listing-form-container textarea {
  height: 100px;
  padding: 10px;
  border: 1px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}
body main #body-container #create-listing-container #create-listing-form .create-listing-form-submit {
  height: 50px;
  font-size: 50px;
}
body main #body-container #create-listing-container #create-listing-form .create-listing-form-container-all {
  display: flex;
  justify-content: center;
}
body main #body-container #create-listing-container #create-listing-form .create-listing-form-container-all button {
  height: auto;
  font-size: 20px;
  font-weight: bolder;
  margin: 20px;
  padding: 10px 35px;
  background-color: rgba(252, 162, 17, 0.507);
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
body main #body-container #create-listing-container #create-listing-form .create-listing-form-container-all button:hover {
  background-color: #bdfc11;
  transition: 0.5s;
}
body main #body-container #categories-container {
  height: auto;
  width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body main #body-container #categories-container .categories-item {
  height: 100px;
  width: 200px;
  margin: 10px;
  background-color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 2px 2px 10px gray;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #body-container #categories-container .categories-item p {
  font-weight: bolder;
}
body main #body-container #categories-container .categories-item:hover {
  background-color: white;
}
body main #body-container #category-container {
  height: auto;
  width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body main #body-container #category-container #category-container-error {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
body main #body-container #category-container #category-container-error p {
  font-size: 35px;
  font-weight: bolder;
  color: #ff006e;
}
body main #body-container #category-container .active-listing-container {
  border-bottom: 1px solid lightgray;
  height: 250px;
  width: 90%;
  margin: 10px;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "photo name name" "photo price description";
}
body main #body-container #category-container .active-listing-container .active-listing-photo {
  grid-area: photo;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #body-container #category-container .active-listing-container .active-listing-photo .active-listing-photo-container {
  height: 220px;
  width: 220px;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #body-container #category-container .active-listing-container .active-listing-photo .active-listing-photo-container img {
  max-height: 220px;
  max-width: 220px;
}
body main #body-container #category-container .active-listing-container .active-listing-name {
  grid-area: name;
  margin: auto 0;
}
body main #body-container #category-container .active-listing-container .active-listing-name a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
body main #body-container #category-container .active-listing-container .active-listing-price {
  grid-area: price;
}
body main #body-container #category-container .active-listing-container .active-listing-price p {
  color: #969696;
}
body main #body-container #category-container .active-listing-container .active-listing-price .active-listing-price-current {
  font-size: 35px;
  font-weight: bolder;
  color: black;
}
body main #body-container #category-container .active-listing-container .active-listing-price .active-listing-price-label {
  font-size: 12px;
}
body main #body-container #category-container .active-listing-container .active-listing-price .active-listing-price-origin {
  font-size: 15px;
}
body main #body-container #category-container .active-listing-container .active-listing-price .active-listing-price-origin span {
  font-size: 20px;
  font-weight: bolder;
  color: green;
}
body main #body-container #category-container .active-listing-container .active-listing-price .active-listing-price-lister {
  margin-top: 10px;
  font-size: 12px;
}
body main #body-container #category-container .active-listing-container .active-listing-price .active-listing-price-lister a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}
body main #body-container #category-container .active-listing-container .active-listing-price .active-listing-price-category {
  display: flex;
  padding: 0px;
  margin-top: 10px;
}
body main #body-container #category-container .active-listing-container .active-listing-price .active-listing-price-category a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  width: auto;
  font-size: 13px;
  font-weight: bolder;
  padding: 2px 5px;
  background-color: none;
  border: 1px solid lightgray;
}
body main #body-container #category-container .active-listing-container .active-listing-price .active-listing-price-category a:hover {
  background-color: rgba(252, 162, 17, 0.507);
}
body main #body-container #category-container .active-listing-container .active-listing-description {
  grid-area: description;
}
body main #body-container #category-container .active-listing-container .active-listing-description p {
  padding: 0 10px;
  text-align: justify;
  font-size: 13px;
  color: #969696;
}
body main #body-container .bid_record_message_container {
  height: 100%;
  width: 1000px;
}
body main #body-container .bid_record_message_container p {
  font-size: 25px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ff006e;
  margin-top: 100px;
}
body main #listing-container {
  height: 100%;
  width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #listing-container #listing-container-error-cointainer {
  height: 100%;
  width: 100%;
  font-weight: bolder;
  color: #ff006e;
  text-align: center;
}
body main #listing-container #listing-container-error-cointainer h1 {
  font-size: 200px;
  margin-top: 100px;
}
body main #listing-container #listing-container-error-cointainer p {
  font-size: 50px;
  letter-spacing: 5px;
}
body main #listing-container #listing-container-item {
  height: 100%;
  width: 100%;
  border: none;
}
body main #listing-container #listing-container-item #listing-container-item-container {
  height: 500px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-areas: "photo detail";
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-container-photo {
  grid-area: photo;
  height: 500px;
  width: 500px;
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-container-photo img {
  max-height: 500px;
  max-width: 500px;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details {
  grid-area: detail;
  box-sizing: border-box;
  padding: 0 20px;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-label {
  padding: 5px 0;
  font-size: 13px;
  color: gray;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-name {
  height: auto;
  max-height: 100px;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-name p {
  font-size: 20px;
  font-weight: bolder;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-price {
  height: auto;
  max-height: 100px;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-price p {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-description {
  max-height: 125px;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  overflow-y: scroll;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-description p {
  font-size: 15px;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-listerdate {
  height: 50px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-listerdate .listing-container-item-listerdate-sub {
  height: 50px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-listerdate .listing-container-item-listerdate-sub .listing-container-item-listerdate-label {
  height: 20px;
  font-size: 13px;
  color: gray;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details .listing-container-item-listerdate .listing-container-item-listerdate-sub .listing-container-item-listerdate-detail {
  width: 100%;
  height: 30px;
  font-weight: bolder;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing {
  height: auto;
  width: 100%;
  background-color: #fca311;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  grid-template-areas: "price watch bid" "bidbox bidbox bidbox";
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing .listing-container-pricing-price {
  grid-area: price;
  height: 60px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing .listing-container-pricing-price p {
  font-size: 25px;
  font-weight: bolder;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing .listing-container-pricing-price span {
  font-size: 13px;
  font-weight: bolder;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-watchlist {
  grid-area: watch;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-watchlistform {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bid {
  gird-area: bid;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing .listing-container-pricing-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing .listing-container-pricing-button i {
  font-size: 50px;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing .listing-container-pricing-button p {
  display: none;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing .listing-container-pricing-button:hover i {
  font-size: 25px;
  padding-bottom: 0px;
  transition: 0.5s;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing .listing-container-pricing-button:hover p {
  display: block;
  font-size: 17px;
  font-weight: bolder;
  transition: 0.5s;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox-checkbox {
  display: none;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox {
  grid-area: bidbox;
  height: 0px;
  background-color: #50514f;
  border-radius: 0 0 5px 5px;
  display: grid;
  grid-template-columns: 80% 1fr;
  transition: 0.5s;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox input, body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox button {
  display: none;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox input {
  box-sizing: border-box;
  margin: 7px;
  padding: 10px;
  border-radius: 3px;
  border: none;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox input:focus {
  outline: none;
  border: 1px solid #FCA311;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox button {
  background-color: #ff006e;
  color: white;
  border-radius: 3px;
  border: none;
  margin: 7px 7px 7px 0;
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox button:hover {
  background-color: #f1faee;
  color: black;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox-checkbox:checked + #listing-container-pricing-bidbox {
  height: 50px;
  transition: 0.5s;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox-checkbox:checked + #listing-container-pricing-bidbox input, body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-pricing #listing-container-pricing-bidbox-checkbox:checked + #listing-container-pricing-bidbox button {
  display: block;
  opacity: 0;
  animation: bidAppear 1s forwards;
}
@keyframes bidAppear {
  0% {
    height: 0;
  }
  100% {
    opacity: 1;
    display: block;
    height: 35px;
  }
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister {
  height: 165px;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #ffd166;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "current form" "startprice form" "profit form";
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-current {
  grid-area: current;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-start {
  grid-area: startprice;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-profit {
  grid-area: profit;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form {
  grid-area: form;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: "removebutton endbutton" "confirmbutton confirmbutton";
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form input {
  display: none;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form label {
  height: 85px;
  width: 85px;
  margin: auto;
  font-weight: bolder;
  border-radius: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form label i {
  font-size: 50px;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form label p {
  display: none;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form button {
  border: none;
  border-radius: 50px;
  background-color: transparent;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form label:hover i {
  animation: label_move 1s forwards;
}
@keyframes label_move {
  100% {
    font-size: 30px;
  }
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form label:hover p {
  display: block;
  animation: p_appear 1s forwards;
}
@keyframes p_appear {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 17px;
  }
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form #remove-listing {
  grid-area: removebutton;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form #end-bid {
  grid-area: endbutton;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form #listing-container-lister-form-submit {
  grid-area: confirmbutton;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form input:checked + #remove-listing-label, body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form input:hover + #remove-listing-label {
  background-color: #ff006e;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form input:checked + #end-bid-label, body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form input:hover + #end-bid-label {
  background-color: #83e377;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form input:checked + button {
  display: none;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister #listing-container-lister-form button:hover {
  background-color: #003049;
  color: white;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister .listing-container-lister-box-label {
  font-size: 13px;
  text-align: center;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-lister .listing-container-lister-box-price {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-closed {
  height: 165px;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #ff006e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-closed h3 {
  color: white;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-closed .listing-container-closed-label {
  color: white;
  font-size: 13px;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-closed .listing-container-closed-price {
  height: 30px;
  width: 95%;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-closed form {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-closed form button {
  width: 95%;
  background-color: #003049;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}
body main #listing-container #listing-container-item #listing-container-item-container #listing-container-item-details #listing-container-closed form button:hover {
  background-color: #1e79aa;
}
body main #listing-container #listing-container-item-comment {
  height: auto;
  margin: 10px 0 60px 0;
  border: 1px solid lightgray;
  background-color: white;
}
body main #listing-container #listing-container-item-comment #listing-container-item-title {
  margin: 25px 25px 0 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}
body main #listing-container #listing-container-item-comment #listing-container-item-title p {
  font-size: 20px;
  font-weight: bolder;
}
body main #listing-container #listing-container-item-comment #listing-container-item-comment-form {
  height: 100%;
  margin: 10px 25px;
  display: flex;
  flex-direction: column;
}
body main #listing-container #listing-container-item-comment #listing-container-item-comment-form textarea {
  height: 100px;
  width: 100%;
  resize: none;
  border: 1px solid lightgray;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
body main #listing-container #listing-container-item-comment #listing-container-item-comment-form textarea:focus {
  outline: none;
  border: 1px solid #fca311;
}
body main #listing-container #listing-container-item-comment #listing-container-item-comment-form button {
  padding: 10px 30px;
  border: none;
  background-color: #ffd166;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}
body main #listing-container #listing-container-item-comment #listing-container-item-comment-form button:hover {
  background-color: #caffbf;
}
body main #listing-container #listing-container-item-comment #listing-container-item-comment-none {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #listing-container #listing-container-item-comment #listing-container-item-comment-none p {
  font-size: 25px;
  font-weight: bolder;
}
body main #listing-container #listing-container-item-comment .listing-container-item-comment {
  min-height: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
}
body main #listing-container #listing-container-item-comment .listing-container-item-comment .listing-container-item-user {
  padding: 25px 30px;
}
body main #listing-container #listing-container-item-comment .listing-container-item-comment .listing-container-item-user p {
  font-size: 13px;
}
body main #listing-container #listing-container-item-comment .listing-container-item-comment .listing-container-item-user p a {
  text-decoration: none;
  color: blue;
}
body main #listing-container #listing-container-item-comment .listing-container-item-comment .listing-container-item-detail {
  padding: 25px 5px;
}
body main #listing-container #listing-container-item-comment .listing-container-item-comment .listing-container-item-detail h3 {
  font-size: 15px;
  margin-bottom: 10px;
}
body main #listing-container #listing-container-item-comment .listing-container-item-comment .listing-container-item-detail p {
  font-size: 13px;
}
body main #bid-container {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #bid-container #bid-container-message {
  height: 50px;
  width: 100%;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main #bid-container .bid-successful {
  background-color: #caffbf;
  color: #494949;
}
body main #bid-container .bid-unsuccessful {
  background-color: #e63946;
  color: white;
}
body main #bid-container #bid-container-return {
  margin-top: 100px;
}
body main #bid-container #bid-container-return a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  background-color: #364958;
  height: 30px;
  width: auto;
  border-radius: 50px;
  padding: 10px 20px;
}

/*# sourceMappingURL=styles.css.map */
